<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>

    <!--Connection String HANA-->
    <add key="HANAConString" value="Driver={HDBODBC32};ServerNode=[SERVERNODE];UID=[UID];PWD=[PWD]; CS=[CS];" />
    <add key="SERVERNODE" value="e/SBdQyb/Nh9Tvbu9nbtyW0GJAkMIGN60X9b/cXbhRE=" />
    <add key="UID" value="11UgeMAMjL66QpU/+tx4gA==" />
    <add key="PWD" value="yQ4CXfeoV8QcNxilXm2xug==" />
    <add key="CS" value="qBmBYwCeVhLvMETI5Lrixg==" />
    <!--Connection String SQL -->
    <add key="SQLConString" value="Data Source=[SQL_DataSource]; Integrated Security=false;Initial Catalog= [SQL_DB]; uid=[SQL_User]; Password=[SQL_Password];" />
    <add key="SQL_DataSource" value="woGIhAH6J70ksxFWVqYNRA==" />
    <add key="SQL_DB" value="np7pAQ2RDmjIlPOKnXKEbA==" />
    <add key="SQL_User" value="11UgeMAMjL66QpU/+tx4gA==" />
    <add key="SQL_Password" value="2/skmLSUsRBOw9AgBigs4w==" />

    <!--Email Settings-->
    <add key="MailFrom" value="viftechjawwad@gmail.com"/>
    <add key="MailFromName" value="TMS Deloitte."/>
    <add key="MailTo" value="jawwad.92@outlook.com"/>
    <add key="cc" value=""/>
    <add key="bcc" value=""/>
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="Password" value="Viftech.0345"/>
    <add key="UserEmail" value="viftechjawwad@gmail.com"/>
    <add key="Port" value="587"/>
    <add key="isSSL" value="True"/>
    <add key="UseCredentials" value="True" />

    <!--Settings-->
    <add key="SchemaName" value="TMS_DELOITTE" />
    <add key="SchemaNameSAPB1" value="DYA" />
    <add key="AlertAndNotificationPath" value="D:\Jawwad\Projects\TMS Alert Window Service\TestWindowService\TestWindowService\TestWindowService\AlertAndNotification" />
    <add key="SndNotification" value="1" />
    <add key="SndEmail" value="1" />
   
    
    
  </appSettings>
  
</configuration>
