<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  
  
  <connectionStrings>
    <add name="xpf.printing" connectionString="xpoprovider=MSSqlServer;data source=(localdb)\mssqllocaldb;attachdbfilename=|DataDirectory|\ReportService.mdf;integrated security=True;connect timeout=120" />
  </connectionStrings>
  <appSettings>

	  <add key="aspnet:MaxJsonDeserializerMembers" value="2500" />
	  
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    
    <!--Connection String HANA-->
    <!-- <add key="HANAConString" value="Driver={HDBODBC};ServerNode=[SERVERNODE];UID=[UID];PWD=[PWD];CS=[CS];" /> -->
    <!-- <add key="SERVERNODE" value="CSFgWmZP77MuSXHFoxAf/YUEPbV3lcotkdzYgdRs7mM=" /> -->
    <!-- <add key="UID" value="11UgeMAMjL66QpU/+tx4gA==" /> -->
    <!-- <add key="PWD" value="yQ4CXfeoV8QcNxilXm2xug==" /> -->
	<!-- <add key="CS" value="26fofBLLmrPWsOP5LBqxjw==" /> -->
	  
    <!--Connection String SQL -->
    <!-- <add key="SQLConString" value="Data Source=[SQL_DataSource]; Integrated Security=false;Initial Catalog= [SQL_DB]; uid=[SQL_User]; Password=[SQL_Password];" /> -->
    <!-- <add key="SQL_DataSource" value="YdkqMb0bePqC2VUuGfVrmKIb/wq4wrv6envvZ6VEF3E=" /> -->
    <!-- <add key="SQL_DB" value="XW1x4UVvUXQGl+xmLaFQfA==" /> -->
    <!-- <add key="SQL_User" value="M1lqKfweo10y4P3WrV7oXQ==" /> -->
    <!-- <add key="SQL_Password" value="2/skmLSUsRBOw9AgBigs4w==" /> -->

<!--Connection String HANA-->
    <add key="HANAConString" value="Driver={HDBODBC};ServerNode=[SERVERNODE];UID=[UID];PWD=[PWD];CS=[CS];" />
    <add key="SERVERNODE" value="CSFgWmZP77MuSXHFoxAf/YUEPbV3lcotkdzYgdRs7mM=" />
    <add key="UID" value="11UgeMAMjL66QpU/+tx4gA==" />
    <add key="PWD" value="yQ4CXfeoV8QcNxilXm2xug==" />
	<!--<add key="CS" value="2Wtg/i2z79KvuO3d7XSifw==" />-->
	<add key="CS" value="T2Ab7wxMWUrfhhfxloobLw==" />

	  <!--Connection String SQL -->
    <add key="SQLConString" value="Data Source=[SQL_DataSource]; Integrated Security=false;Initial Catalog= [SQL_DB]; uid=[SQL_User]; Password=[SQL_Password];" />
    <add key="SQL_DataSource" value="ebbFIY9mIDie2RDzyQ7fiJBZeBpjpKcwmLDQ7L3/+o4=" />
    <add key="SQL_DB" value="b9yrclfvCqRwoxE9Xf4I+Q==" />
    <add key="SQL_User" value="M1lqKfweo10y4P3WrV7oXQ==" />
    <add key="SQL_Password" value="2/skmLSUsRBOw9AgBigs4w==" />

    <!--Email Settings-->
    <add key="MailFrom" value="viftechjawwad@gmail.com" />
    <add key="MailFromName" value="TMS Deloitte" />
    <add key="MailTo" value="jawwad.92@outlook.com" />
    <add key="cc" value="" />
    <add key="bcc" value="" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="Password" value="Viftech.0345" />
    <add key="UserEmail" value="viftechjawwad@gmail.com" />
    <add key="Port" value="587" />
    <add key="isSSL" value="True" />
    <add key="UseCredentials" value="True" />

    <!--Settings-->
    <!-- <add key="SchemaName" value="TMS1" /> -->
 <!--<add key="SchemaName" value="TMS" />-->
    <!-- <add key="SchemaNameSAPB1" value="DYA_TEST" /> -->
	<add key="SchemaName" value="ABACUSTMS" />
	<!--<add key="SchemaName" value="TMS" />-->
    <add key="SchemaNameSAPB1" value="ABACUSLIVE" />
    <add key="AlertAndNotificationPath" value="D:\Jawwad\Projects\TMS Alert Window Service\TestWindowService\TestWindowService\TestWindowService\AlertAndNotification" />
    <add key="WEBAPIUtility" value="http://localhost:13032/api/" />
    <add key="HCMOneLink" value="http://localhost:40015/LogInPage.aspx?UserName=[UserName]&amp;pwd=[pwd]" />
    <!--http://http://202.142.158.243:40015/-->

    <add key="StartDate" value="" />
    <add key="EndDate" value="2021-05-31" />

    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
    <assemblies>
    <!--  <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
      <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
      <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
      <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
      <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />-->
    </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExtreme.AspNet.Data" publicKeyToken="982f5dab1439d0f7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.1.0" newVersion="2.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Web" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ClientDoc" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonControls" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonObjectModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CubeDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ObjectFactory" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Prompting" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ReportDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.XmlSerialize" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer><system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ReportServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="ReportServiceBinding" maxReceivedMessageSize="4194304" transferMode="Streamed">
          <readerQuotas maxArrayLength="4194304" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ReportServiceBehavior" name="TMSDeloitte.Models.SAP_Function">
        <endpoint binding="basicHttpBinding" bindingConfiguration="ReportServiceBinding" contract="DevExpress.XtraReports.Service.IReportService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>