
<!DOCTYPE html>
<head>
    <title>  Forgot Password - Time Management System </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />

    <!-- js files -->
    <script src="~/Scripts/jquery.toast.js"></script>
    <script src="~/Scripts/toastNotifications.js"></script>

    <!-- Favicon icon -->
    <link rel="icon" href="#" type="image/x-icon">

    <!-- font css -->
    <link rel="stylesheet" href="/assets/fonts/font-awsome-pro/css/pro.min.css">
    <link rel="stylesheet" href="/assets/fonts/feather.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome.css">

    <!-- vendor css -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/customizer.css">

    <!-- css files -->
    <link href="~/Content/jquery.toast.css" rel="stylesheet" />

</head>

<html>
<body>
    <div class="demo-container">
        <div class="dx-fieldset">
            <div class="dx-field">
                <div class="dx-field-label">Email</div>
                <div class="dx-field-value">
                    <div id="email-validation"></div>
                </div>
            </div>

        </div>
        <div class="dx-fieldset">
            <input type="button" value="Forgot Password" id="forgotPassword" class="btn btn-primary" />
        </div>


    </div>

    <script type="text/javascript">
        var emailInstance;
        function applyValidation() {
            emailInstance = $("#email-validation").dxTextBox({})
                .dxValidator({
                    validationRules: [
                        {
                            type: "required",
                            message: "Email is required"
                        }, {
                            type: "email",
                            message: "Email is invalid"
                        }
                    ]
                }).dxTextBox('instance');



        }

        function validateAndSubmit(params) {

            var result = params.validationGroup.validate();

            var email = emailInstance.option('value');

            if (result.isValid) {
                var url = "/Home/ForgotPassword";

                $.ajax({
                    type: "POST",
                    url: url,
                    data: {
                        userEmail: email
                    },

                    success: function (response) {
                        if (response.Success) {
                            AlertToast('success', response.Message);
                        }
                        else {
                            AlertToast('error', response.Message);
                        }
                    },
                    error: function (response) {
                        console.log(response);
                    },
                    failure: function (response) {
                        console.log(response);
                    }

                })
            }
            else {
                var msg = "Please enter required fields";
                if (ConfirmPasswordInstance.option('value') != newPasswordInstance.option('value'))
                    msg = "'New Password' and 'Confirm Password' do not match.";

                AlertToast('error', msg);
            }

        }
        $('document').ready(function () {

            applyValidation();

            $("#forgotPassword").dxButton({
                text: "Forgot Password",
                type: "success",
                onClick: validateAndSubmit
            });


        });
    </script>

</body>


</html>