
@{
    ViewBag.Title = "Change Password";
}
@Html.Hidden("Username", (object)ViewBag.Username)
@Html.Hidden("UserID", (object)ViewBag.UserID)

<div class="pcoded-content">
    <div class="card p-20" style="min-height: 495px;">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="page-header-title">
                            <h2> Change Password </h2>
                        </div>
                    </div>
                    <div class="col-md-6 text-md-right">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"> Login </a></li>
                            <li class="breadcrumb-item"> Change Password </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label for="oldPassword"> Old Password: </label>
                    <div id="password-validation" class="form-control"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label for="newPassword"> New Password: </label>
                    <div id="NewPassword-validation" class="form-control"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="form-group">
                    <label for="retypeNewPassword"> Retype New Password: </label>
                    <div id="confirm-password-validation" class="form-control"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-right">
                <div id="resetPassword"></div>
                @*<button id="resetPassword" type="button" class="btn btn-success mr-2"> Update </button>*@
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div> <!-- [ Card Content ] end -->
</div>

@*<div class="demo-container">
            <div class="dx-fieldset">
                <div class="dx-field">
                    <div class="dx-field-label">Password</div>
                    <div class="dx-field-value">
                        <div id="password-validation"></div>
                    </div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">New Password</div>
                    <div class="dx-field-value">
                        <div id="NewPassword-validation"></div>
                    </div>
                </div>

                <div class="dx-field">
                    <div class="dx-field-label">Confirm Password</div>
                    <div class="dx-field-value">
                        <div id="confirm-password-validation"></div>
                    </div>
                </div>
            </div>
            <div class="dx-fieldset">
                <input type="button" value="Reset Password" id="resetPassword" class="btn btn-primary" />
            </div>


    </div>*@

<script type="text/javascript">
    var passwordInstance;
    var newPasswordInstance;
    var ConfirmPasswordInstance;
    function applyValidation() {
        passwordInstance = $("#password-validation").dxTextBox({
            mode: "password",
            maxLength: 16,
            buttons: [{
                name: "password",
                location: "after",
                options: {
                    icon: "/assets/images/eye.png",
                    type: "default",
                    onClick: function () {
                        passwordInstance.option("mode", passwordInstance.option("mode") === "text" ? "password" : "text");
                    }
                }
            }]
        }).dxValidator({
            validationRules: [
                {
                    type: "required",
                    message: "Password is required"
                }
            ]
        }).dxTextBox('instance');

        newPasswordInstance = $("#NewPassword-validation").dxTextBox({
            mode: "password",
            maxLength: 16,
            buttons: [{
                name: "password",
                location: "after",
                options: {
                    icon: "/assets/images/eye.png",
                    type: "default",
                    onClick: function () {
                        newPasswordInstance.option("mode", newPasswordInstance.option("mode") === "text" ? "password" : "text");
                    }
                }
            }]
        }).dxValidator({
            validationRules: [
                {
                    type: "required",
                    message: "New Password is required"
                }
            ]
        }).dxTextBox('instance');

        ConfirmPasswordInstance = $("#confirm-password-validation").dxTextBox({
            mode: "password",
            maxLength: 16,
            buttons: [{
                name: "password",
                location: "after",
                options: {
                    icon: "/assets/images/eye.png",
                    type: "default",
                    onClick: function () {
                        ConfirmPasswordInstance.option("mode", ConfirmPasswordInstance.option("mode") === "text" ? "password" : "text");
                    }
                }
            }]
        }).dxValidator({
            validationRules: [
                {
                    type: "compare",
                    comparisonTarget: function () {
                        var password = $("#NewPassword-validation").dxTextBox("instance");
                        if (password) {
                            return password.option("value");
                        }
                    },
                    message: "'New Password' and 'Confirm Password' do not match."
                },
                {
                    type: "required",
                    message: "Confirm Password is required"
                }
            ]
        }).dxTextBox('instance');
    }


    $('document').ready(function () {

        applyValidation();

        function validateAndSubmit(params) {

            var result = params.validationGroup.validate();

            var pass = passwordInstance.option('value');
            var newPass = newPasswordInstance.option('value');

            if (pass != newPass) {
                if (result.isValid) {
                    loadPanel.show();
                    var url = "/Home/UpdateUserPassword";

                    $.ajax({
                        type: "POST",
                        url: url,
                        data: {
                            userPassword: pass,
                            newPassword: newPass,
                            Username: $('#Username').val(),
                            UserID: $('#UserID').val()
                        },

                        success: function (response) {
                            loadPanel.hide();
                            if (response.Success) {
                                AlertToast('success', response.Msg);
                                setTimeout(function () { window.location.href = '/Home/Logout'; }, 3000);

                            }
                            else {
                                AlertToast('error', response.Msg);
                            }
                        },
                        error: function (response) {
                            loadPanel.hide();
                            console.log(response);
                        },
                        failure: function (response) {
                            loadPanel.hide();
                            console.log(response);
                        }

                    });
                }
                else {
                    var msg = "Please enter required fields";
                    if (ConfirmPasswordInstance.option('value') != newPasswordInstance.option('value'))
                        msg = "'New Password' and 'Confirm Password' do not match.";

                    AlertToast('error', msg);
                }
            }
            else {
                AlertToast('error', "Password And New Password Must Be Change");
            }


        }

        $("#resetPassword").dxButton({
            icon: "check",
            type: "success",
            text: "Update",
            onClick: validateAndSubmit
        });


    });
</script>